body{
    background-color: #f1fbff;
}

.navbar{
    background-color: white;
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.40);
}
body::before{
    display: block;
    content: '';
    height: 84px;
}
.carousel-inner:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    background-color: rgba(0, 0, 0, 0.393);
    z-index: 1;

}
.carousel-caption{
    bottom: 200px;
    z-index: 2;
    align-items:center !important;
    justify-content: space-between !important;
    
    display: flex!important;
    flex-wrap: wrap;
    flex-direction: column;
}
.carousel-item{
    height: 100vh;

}
.carousel-caption h3{
 
    font-size: 45px;
    margin-top: 25px;

    text-transform: uppercase;

}
html {
    scroll-behavior: smooth !important;
}